
{% extends 'base.html' %}

{% block content %}
{% include 'sections/hero_section.html' %}
{% include 'sections/trusted_by.html' %}
{% include 'sections/ai_services.html' %}
{% include 'sections/solutions_by_industry.html' %}
{% include 'sections/platform_features.html' %}
{% include 'sections/why_choose_us.html' %}
{% include 'sections/client_success.html' %}
{% include 'sections/cta_blocks.html' %}
{% include 'sections/global_footprint.html' %}
{% include 'sections/developer_partner.html' %}
{% include 'sections/blog_resources.html' %}
{% endblock %}
